{% extends 'base.html.twig' %}

{% block title %}Pet finder{% endblock %}

{% block body %}
    <body>
    {{ form_start(form) }}
    {{ form_row(form.speciesName) }}
    <button type="submit">Save</button>
    {{ form_end(form) }}
    </body>
{% endblock %}
